<AuthorizeView>
    <Authorized>
        Olá, @context.User.Identity.Name !
        <a href="logout" class="nav-link btn btn-link">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register" class="nav-link btn btn-link">Registrar</a>
        <a href="Login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>